.contenedorCliente1,
.contenedorProveedor1,
.contenedorVendedor1,
.contenedorChofer1 {
  background-color: rgb(161, 161, 161);
  opacity: 0.95;
  width: 35%;
  height: 35em;
  position: relative;
  box-shadow: 0 0.188em 1.55em rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contenedorIndividuales {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
p {
  font-size: 30px;
  color: black;
  font-weight: bold;
}
.tituloDatos {
  color: red;
  font-size: 27px;
  font-weight: bold;
}

.contenidoDatos {
  color: black;
  font-size: 27px;
}
/* PerfilCliente */
.contenedorCliente1 {
  height: 35em;
}

/* PerfilProveedor */
.contenedorProveedor1 {
  height: 20em;
}

/* PerfilVendedor */
.contenedorVendedor1 {
  height: 30em;
}

/* PerfilChofer */
.contenedorChofer1 {
  height: 45em;
}
